<h1>Dr. <%= @doctor.name %><br></h1>
<h2>Department: <%= @doctor.department %><br></h2>
<h4>Appointments:</h4>
<% @doctor.appointments.each do |a| %>
<%= link_to a.readable_datetime, appointment_path(a) %><br>
Patient: <%= link_to a.patient.name, patient_path(a.patient) %><br></br>
<%end%>

<%= link_to "All Doctors", doctors_path %>
